@import url("https://fonts.googleapis.com/css?family=Asap&display=swap");

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: "Asap", sans-serif;
}
